
{% extends "base.html" %} {% load compress static %}

{% block title %}{{block.super}} | Cookies{% endblock title %}

{% block content %}

<div class="mt-5 mx-5 md:mt-20 xl:mx-40 md:w-8/12 mb-24">
  <div>
    <h2 class="text-base md:text-3xl">Cookie-Einstellungen</h2>
    <p class="mt-5 text-sm md:text-base">Wir verwenden Cookies, um Ihnen ein optimales Webseiten-Erlebnis zu bieten.
      Dazu zählen Cookies, die für den Betrieb der Seite notwendig sind, sowie solche, die zu Statistikzwecken oder
      für Komforteinstellungen genutzt werden. Sie können selbst entscheiden, ob Sie die technisch nicht notwendigen
      Cookies akzeptieren. Bitte beachten Sie, dass auf Basis Ihrer Einstellungen womöglich nicht mehr alle
      Funktionalitäten der Seite zur Verfügung stehen.</p>
  </div>
  <form>
    <label class="relative inline-flex items-center cursor-pointer mt-10">
      <input type="checkbox" value="Cookie" class="sr-only peer" id="cookie">
      <div
        class="w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all  peer-checked:bg-green-600">
      </div>
      <span class="ml-3 text-sm font-medium text-gray-900">Cookies</span>
    </label>
    <label class="relative inline-flex items-center cursor-pointer mt-10">
      <input type="checkbox" value="Map" class="sr-only peer" id="map">
      <div
        class="w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all  peer-checked:bg-green-600">
      </div>
      <span class="ml-3 text-sm font-medium text-gray-900">Karte</span>
    </label>
    <label class="relative inline-flex items-center cursor-pointer mt-10">
      <input type="checkbox" value="Font" class="sr-only peer" id="font">
      <div
        class="w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all  peer-checked:bg-green-600">
      </div>
      <span class="ml-3 text-sm font-medium text-gray-900">Google Fonts</span>
    </label>
  </form>
</div>

{%endblock content%}


{% block javascriptend %}
  {% compress js inline %}
    <script defer src="{% static 'js/cookies.js' %}"></script>
  {% endcompress js %}
{% endblock javascriptend %}