{% extends "base.html" %}
{% load compress static %}

{% block title %}{{block.super}} {% endblock title %}

{% block content %}


  {% block css %}
    {% compress css inline %}

    {% endcompress css %}
  {% endblock css %}


  <main>
    <div class="mb-10">
      <div class="relative w-screen">
        <img src="{% static 'images/banner.png' %}" alt="Logobanner"/>
      </div>
    </div>
    <div class="text-center mb-10 text-slate-600 mx-5">
      <h2 class=" text-lg md:text-3xl font-bold mb-3">Willkommen bei RS Autoglas - Max Riedl & Rainer Söldner GbR in
        Winzer</h2>
      <h2 class=" text-sm md:text-2xl font-bold">Ihr Fachpartner für glasklaren Durchblick</h2>
    </div>


    <section class="mb-10 lg:mb-32 text-gray-800 mt-70 w-auto mx-5 lg:mx-16 scroll-my-20" id="informationen">
      <div class="block rounded-lg shadow-2xl bg-white">
        <div class="flex flex-wrap items-center">
          <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 xl:w-8/12">
            <div class="px-6 py-12 md:px-12">
              <h2 class="text-center text-2xl mb-3 text-slate-600 font-bold">{{heroText.title}}</h2> 
              <div class=" text-sm lg:text-base xl:text-lg md:text-center">
                <p>{{heroText.description}}</p>
              </div>
            </div>
          </div>
          <div class="hidden lg:flex grow-0 shrink-0 basis-auto lg:w-6/12 xl:w-4/12">
            <img src="{% static 'images/logo.png' %}" alt="Logobanner" class="w-full rounded-t-lg lg:rounded-xl animate-fade-in-down"/>
          </div>
        </div>
      </div>
    </section>

    <section class="md:h-full flex items-center text-gray-600 scroll-my-20" id="leistungen">
      <div class="container px-5 pb-20 mx-auto">
        <h2 class="text-center text-4xl  text-slate-600 font-bold mb-10">Leistungen</h2>
        <div class="flex flex-wrap -m-4">
          <div class="p-4 sm:w-1/2 lg:w-1/3">
            <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
              <img class="lg:h-72 md:h-48 w-full object-cover object-center" src="{{cmsImage1.file.url}}" alt="{{cmsImage1.title}}">
              <div class="p-6 h-full hover:bg-teal-500 hover:text-white transition ease-linear duration-300">
                <h2 class="text-2xl font-semibold mb-3">{{cmsText1.title}}</h2>
                <p class="leading-relaxed mb-3 text-sm md:text-base">{{cmsText1.description}}</p>
              </div>
            </div>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/3">
            <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
              <img class="lg:h-72 md:h-48 w-full object-cover object-center" src="{{cmsImage2.file.url}}" alt="{{cmsImage2.title}}">
              <div class="p-6 h-full hover:bg-teal-500 hover:text-white transition ease-linear duration-300">
                <h2 class="text-2xl font-semibold mb-3">{{cmsText2.title}}</h2>
                <p class="leading-relaxed mb-3 text-sm md:text-base">{{cmsText2.description}}</p>

              </div>
            </div>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/3">
            <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
              <img class="lg:h-72 md:h-48 w-full object-cover object-center" src="{{cmsImage3.file.url}}" alt="{{cmsImage3.title}}">
              <div class="p-6 h-full hover:bg-teal-500 hover:text-white transition ease-linear duration-300">
                <h2 class="text-2xl font-semibold mb-3">{{cmsText3.title}}</h2>
                <p class="leading-relaxed mb-3 text-sm md:text-base">{{cmsText3.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="scroll-my-20" id="bilder">
      <div class="mb-10 lg:mb-40">
        <div>
          <h2 class="text-center text-4xl mb-3 lg:mb-10 text-slate-600 font-bold">Bilder</h2>
        </div>
        <div class="h-50 relative">
          <div id="slider" class="container xs:h-129 sm:h-130 md:h-131 lg:h-132 xl:h-133 mx-auto relative">

            {% for image in responsiveDesktopImages %}
                  {% if forloop.first %}
                    <img src="{{image.upload.url}}" class="h-full w-full object-scale-down" title="{{image.title}}" alt="{{image.title}}"/>
                  {% else %}
                    <img src="{{image.upload.url}}" class="h-full w-full object-scale-down hidden" title="{{image.title}}" alt="{{image.title}}"/>
                  {% endif %}
            {% endfor %}


            <!--

            <img class="h-full w-full object-scale-down" src="{% static 'images/1.jpg' %}" alt="Firmengebaeude" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/2.jpg' %}" alt="Werkstattarbeit" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/3.jpg' %}" alt="Scheibentausch" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/4.jpg' %}" alt="Scheibeputzen" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/5.jpg' %}" alt="Scheibeneinbau" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/6.jpg' %}" alt="Verklebung der Schreibe" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/7.jpg' %}" alt="Verklebung der Schreibe" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/8.jpg' %}" alt="Autoscheibe installation" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/9.jpg' %}" alt="Buero RSAutoglas" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/10.jpg' %}" alt="Buero RSAutoglas" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/11.jpg' %}" alt="Buero RSAutoglas" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/12.jpg' %}" alt="Transporter mit Autoscheiben" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/13.jpg' %}" alt="Transporter mit Autoscheiben" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/14.jpg' %}" alt="Mitarbeiter RSAutoglas" />
            <img class="h-full w-full object-scale-down hidden" src="{% static 'images/Kalibrierung1.jpg' %}" alt="Kalibrierung von Autoscheiben" />
            -->
          </div>
          <div class="absolute top-1/2 -translate-y-1/2 w-full  px-5">
            <div class="my-auto flex w-full justify-between ">
              <button onclick="prev()" class="rounded-full bg-white bg-opacity-80 p-3 shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                </svg>
              </button>
              <button onclick="next()" class="rounded-full bg-white bg-opacity-80 p-3 shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mb-20 text-slate-600 mt-70 w-auto mx-5 lg:mx-16 scroll-my-20" id="kontakt">
      <div class="block rounded-lg shadow-2xl bg-white">
        <div class="flex flex-wrap items-center">
          <div class="grow-0 shrink-0 basis-auto w-full">
            <div class="px-6 py-12 md:px-12 text-start w-auto">
              <h2 class="text-2xl font-bold mb-4 text-slate-600">Kontakt</h2>
              <p class="text-start text-sm md:text-lg">Sie haben noch Fragen, Wünsche oder Anregungen? Dann nehmen Sie
                mit uns Kontakt auf!
                Schreiben Sie uns eine Email oder rufen Sie uns einfach an. Das Team von RS Autoglas steht Ihnen gerne
                zur Verfügung.</p>
              <div class="lg:flex lg:flex-row  mt-8 w-auto">
                <div class="text-start text-sm md:text-lg ">
                  <p>RS Autoglas </p>
                  <p>Max Riedl & Rainer Söldner GbR</p>
                  <p>Bürgermeister-Rader-Str. 15</p>
                  <p>94577 Winzer/ Neßlbach</p>
                  <p class="inline">Telefon: </p><a href="tel:+4985459717017" class="text-blue-600">08545 - 971 70
                    17</a>
                  <p>Telefax: 08545 - 971 70 18</p>
                  <p class="inline">E-Mail: </p><a href="mailto:rsautoglas@t-online.de"
                    class="text-blue-600">rsautoglas@t-online.de</a>
                </div>
                <div class="text-start lg:ml-16 xl:ml-40">
                  <p class=" mt-4 text-sm md:text-xl ">Geschäftszeiten</p>
                  <p class=" mt-1 xl:mt-4 text-sm md:text-xl">Montag - Freitag</p>
                  <p class="text-sm md:text-xl">07:30 - 17:30</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-white scroll-my-20" id="standort">
      <div>
        <h2 class="text-center text-4xl mb-10 text-slate-600 font-bold">Standort</h2>
        <div id="map" class="h-80 z-10 mx-16 my-18 hidden"></div>
        <div id="covermap" class="h-80 z-10 mx-16 my-18 hidden relative overflow-scroll">
          <img class="h-full w-full object-cover brightness-75" src="{% static 'images/BlackandWhiteMap.png' %}" alt="Schwarzweiskarte" />
          <div
            class="z-20 absolute w-full py-2.5 top-2.5 md:top-1/4 bottom-0.5 inset-x-0 text-white text-sm text-center leading-4 lg:text-lg md:text-base">
            Inhalte von Leaflet werden aufgrund deiner aktuellen Cookie-Einstellungen nicht angezeigt.
            Mehr dazu erfährst du in unserer
            <a href="./datenschutz"
              class="hover:bg-slate-500 hover:text-white hover:rounded-sm transition ease-linear duration-300 text-blue-600">
              Datenschutzerklärung</a>. Du kannst deine Zustimmung jederzeit widerrufen.
            Gehe dazu einfach in deine eigenen
            <a href="./cookies"
              class="hover:bg-slate-500 hover:text-white hover:rounded-sm transition ease-linear duration-300 text-blue-600">
              Cookie-Einstellungen</a>.
          </div>
        </div>
      </div>
    </section>





{% endblock content %}

{% block javascriptend %}
{% compress js inline %}
  <script defer src="{% static 'js/home.js' %}"></script>
{% endcompress js %}
{% endblock javascriptend %}